/* ==UserStyle==
@name           Kill instance ticker
@namespace      io.plusminus.mstdn.kill.instanceticker
@version        1.0.1
@description    めくらじゃないから邪魔なだけ
@author         mohemohe
==/UserStyle== */

@-moz-document regexp("https://mstdn\\..*/?.*") {
    :root body .status .status__info a[href] .display-name::after {
        display: none !important;
        opacity: 0 !important;
        height: 0 !important;
        min-height: 0 !important;
        max-height: 0 !important;
        width: 0 !important;
        min-width: 0 !important;
        max-width: 0 !important;
    }
}
